<div class="content">
    <h2 class="content-subhead">Facáil de usuar</h2>
    <p>A idéia é criar um component o máximo customizáveis, compartilhá-lo e nunca mais reinventar a roda.</p>

    <h2 class="content-subhead">Como nasceu</h2>
    <p>
       Se você parar para pensar, nosso trabalho é arduo, muitas coisas para aprender todos os dias e nem sempre temos tempo para implementar o que usamos.
       permemos a conta de quantas coisas criamos sem utilidade alguma para nosso trabalho e afazeres.
    </p>

    <h2 class="content-subhead">Solução</h2>
    <p>
        Estamos constantememte criando filtros dos components mais usados em produção, vamos criando e compartilhando por aqui, e o melhor tudo open source.
    </p>
</div>
