<header></header>

<div id="main">
  <div class="header">
      <h1>Angular
          <strong>D-R-Y</strong>
      </h1>
      <h3>Crie um component uma única vez</h3>
      <img class="logo-angular" src="../../assets/images/angular_whiteTransparent.png" alt="">
  </div>

  <button type="button" class="btn" routerLink="/instalacao">
    Comecar
  </button>
</div>

<div class="content">
  <h1>Porque usar o DRY?</h1>
    <h2 class="content-subhead">Facáil de usuar</h2>
    <p>A idéia é criar um component o máximo customizáveis, compartilhá-lo e nunca mais reinventar a roda.</p>

    <h2 class="content-subhead">Como nasceu</h2>
    <p>
       Se você parar para pensar, nosso trabalho é arduo, muitas coisas para aprender todos os dias e nem sempre temos tempo para implementar o que usamos.
       permemos a conta de quantas coisas criamos sem utilidade alguma para nosso trabalho e afazeres.
    </p>

    <h2 class="content-subhead">Solução</h2>
    <p>
        Estamos constantememte criando filtros dos components mais usados em produção, vamos criando e compartilhando por aqui, e o melhor tudo open source.
    </p>
</div>


<!-- <div class="content">
    <div class="row">

        <div class="col-12">
          <img class="rounded float-left" src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/100/Setting-128.png" alt="">
          <h1>Fácil de usar</h1>
          <p>A idéia é criar um component o máximo customizáveis, compartilhá-lo e nunca mais reinventar a roda.</p>
        </div>

        <div class="col-12">
          <img class="rounded float-right"  src="https://cdn3.iconfinder.com/data/icons/webdesigncreative/free_icons_128x128_png/Bulb1.png" alt="">
          <h1 class="text-right">Proposito</h1>
          <p class="text-right">
              Nosso trabalho é arduo, muitas coisas para aprender todos os dias e nem sempre temos tempo para implementar o que usamos.
              permemos a conta de quantas coisas criamos sem utilidade alguma para nosso trabalho e afazeres.
          </p>
        </div>

        <div class="col-12">
            <img class="rounded float-left" src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/100/Setting-128.png" alt="">
            <h1>Fácil de usar</h1>
            <p>A idéia é criar um component o máximo customizáveis, compartilhá-lo e nunca mais reinventar a roda.</p>
          </div>
      </div>
</div> -->

<footer>
  Projeto desenvolvido por Danilo Agostinho e Emerson Silva.
</footer>
