@import url('https://fonts.googleapis.com/css?family=Anton');

#menu {
  width: 15%;
}

#main
h1,
h2 {
    color: #fff;

}

#main h1 {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}

#main {
    padding-top: 30px;
}

.header {
    border: 0;
}

.logo-angular {
    width: 15%;
    position: absolute;
    top:20px;
    right: 70px;
}
