<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

   <app-header></app-header>

    <div id="menu">
        <div class="pure-menu"></div>
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">DRY</a>

            <ul class="pure-menu-list">
                <li *ngFor="let menu of menus" class="pure-menu-item">
                    <a routerLink="{{menu.fullRoute}}" class="pure-menu-link">{{ menu.path }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Angular
                <strong>D-R-Y</strong>
            </h1>
            <h2>Crie um component uma única vez</h2>
            <img class="logo-angular" src="../../assets/images/angular_whiteTransparent.png" alt="">
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
